doc/_build/
**/__pycache__
**/pytest_cache
**/*.egg
**/*.egg-info
**/.astropy
**/.cache
**/.config
**/.wget*
**/dist
**/eggs
**/build
**/_data
**/_plots
**/_catalog
**/_samples
**/*.so
**/*.mod
**/*.npz
**/bak
**/old
**/.ipynb_checkpoints
**/_autosummary

# Unit test / coverage reports
**/.coverage
